<div class="share">
  <a target="_blank" rel="noopener" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}">Facebook</a>
  <a target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?url={{ shop.url }}{{ product.url }}&text={{ product.title }}">X</a>
  <a target="_blank" rel="noopener" href="mailto:?subject={{ product.title }}&body={{ shop.url }}{{ product.url }}">Email</a>
</div>
