<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }} - {{ shop.name }}</title>
    {{ content_for_header }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'theme.js' | asset_url | script_tag }}
  </head>
  <body class="template-{{ template }}">
    <header role="banner">
      {% section 'header' %}
    </header>

    <main role="main">
      {{ content_for_layout }}
    </main>

    <footer role="contentinfo">
      {% section 'footer' %}
    </footer>

    {{ content_for_footer }}
  </body>
</html>
