<section class="container">
  <h1>{{ 'general.search.search' | t }}</h1>
  {% if search.performed %}
    <p class="muted">{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</p>
    <ul class="grid-results">
      {% for item in search.results %}
        <li>
          {% if item.object_type == 'product' %}
            {% render 'product-card', product: item %}
          {% else %}
            <a href="{{ item.url }}">{{ item.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="muted">{{ 'general.search.hint' | t }}</p>
  {% endif %}
</section>
{% schema %}{ "name":"Main search","settings": [] }{% endschema %}
